@import url('https://fonts.googleapis.com/css?family=Cairo:400,700&display=swap');
body {
    font-family: Cairo;
    color: #1d1d1b;
    font-weight:400;
    background: #ffffff;
    overflow-x: hidden;
}
.figure img{
        height:120px;
      }

.boxed-layout {

}
.alert-success {
     background: #f7921b !important;
}

.word-wrap {
word-wrap: break-word;
}

.container {
  width:100%!important;
}

.container-padding {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.btn-link {
    color: #000;
    background-color: transparent;
    box-shadow: none;
}

.dropdown-menu {
max-height: 200px;
    overflow-y: auto;
}

.navbar {
    background: #ffffff;
    box-shadow:none !important;
    border-bottom: 1px solid #ece9e9;
}

.navbar.navbar-dark .navbar-nav .nav-item .nav-link {
    color: #2f2929;
    font-size: 16px;
    transition: none;
    font-weight: 400;
    background: #fff;
}

.navbar.navbar-dark .navbar-nav .nav-item .nav-link:hover {
    color: #2f2929;
    transition: none !important;
    border-bottom: 2px solid #f7921b;
}


.navbar-toggler {
    background-color: #f9a436!important;
}

.special-color-dark {
    background-color: #000000!important;
}

.btn-warning {
    background:#083f4c99 !important;
    font-weight: 700 !important;
    letter-spacing: 2px;
}

.btn-outline-warning {
    border: 1px solid #f7921b !important;
    color: #f7921b !important;
    font-weight: 700 !important;
    letter-spacing: 2px;
}

.mixer-dark-color {
    color: #f7921b !important;
}

.addaddress {
   color: #f7921b !important;
   text-decoration: underline !important;
   font-weight: 400;
}
.removeaddress {
    color: #ff3547!important;
    text-decoration: underline !important;
    font-weight: 400;
}

section {
    padding: 60px 0px 60px 0px !important;
}

.footer-copyright {
    background: #000000;
    color: rgba(255,255,255,.6);
}

footer.page-footer {
    background:#222222;
}

.input-group-text {
  background-color: transparent !important;
}

.md-stepper-horizontal {
    display:table;
    width:100%;
    margin:0 auto;
}
.md-stepper-horizontal .md-step {
    display:table-cell;
    position:relative;
    padding:24px;
}
/* .md-stepper-horizontal .md-step:hover,
.md-stepper-horizontal .md-step:active {
    background-color:rgba(0,0,0,0.04);
} */
.md-stepper-horizontal .md-step:active {
    border-radius: 15% / 75%;
}
.md-stepper-horizontal .md-step:first-child:active {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.md-stepper-horizontal .md-step:last-child:active {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.md-stepper-horizontal .md-step:hover .md-step-circle {
  font-weight: 600;
  color: #f7921b;
  background: white;
  border: 2px solid #f7921b;
}
.md-stepper-horizontal .md-step:first-child .md-step-bar-left,
.md-stepper-horizontal .md-step:last-child .md-step-bar-right {
    display:none;
}
.md-stepper-horizontal .md-step .md-step-circle {
    width:60px;
    height:60px;
    margin:0 auto;
    border-radius: 50%;
    text-align: center;
    line-height:60px;
    font-size: 16px;
  font-weight: 600;
  color: #f7921b;
  background: transparent;
  border: 2px solid #f7921b;
}
.md-stepper-horizontal.green .md-step.active .md-step-circle {
    background-color:#00AE4D;
}
.md-stepper-horizontal.orange .md-step.active .md-step-circle {
    background-color:#F96302;
}
.md-stepper-horizontal .md-step.active .md-step-circle {
  font-weight: 600;
  color: #ffffff;
  background: #f7921b;
}
.md-stepper-horizontal .md-step.done .md-step-circle:before {
    font-family:'FontAwesome';
    font-weight:100;
    content: "\f00c";
}
.md-stepper-horizontal .md-step.done .md-step-circle *,
.md-stepper-horizontal .md-step.editable .md-step-circle * {
    display:none;
}
.md-stepper-horizontal .md-step.editable .md-step-circle {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.md-stepper-horizontal .md-step.editable .md-step-circle:before {
    font-family:'FontAwesome';
    font-weight:100;
    content: "\f040";
}
.md-stepper-horizontal .md-step .md-step-title {
    margin-top:16px;
    font-size:16px;
    font-weight:600;
}
.md-stepper-horizontal .md-step .md-step-title,
.md-stepper-horizontal .md-step .md-step-optional {
    text-align: center;
    color:rgba(0,0,0,.26);
}
.md-stepper-horizontal .md-step.active .md-step-title {
    font-weight: 600;
    color:rgba(0,0,0,.87);
}
.md-stepper-horizontal .md-step.active.done .md-step-title,
.md-stepper-horizontal .md-step.active.editable .md-step-title {
    font-weight:600;
}
.md-stepper-horizontal .md-step .md-step-optional {
    font-size:12px;
}
.md-stepper-horizontal .md-step.active .md-step-optional {
    color:rgba(0,0,0,.54);
}
.md-stepper-horizontal .md-step .md-step-bar-left,
.md-stepper-horizontal .md-step .md-step-bar-right {
    position:absolute;
    top:36%;
    height:1px;
    border-top:2px solid #DDDDDD;
}
.md-stepper-horizontal .md-step .md-step-bar-right {
    right:0;
    left:50%;
    margin-left:30px;
}
.md-stepper-horizontal .md-step .md-step-bar-left {
    left:0;
    right:50%;
    margin-right:30px;
}

.flash-button {
    animation-name: flash;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-name: flash;
    -webkit-animation-duration: 4s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-name: flash;
    -moz-animation-duration: 4s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
}

.table > tbody > tr > td {
    vertical-align: middle !important;
}


/*Summernote Editor*/

.summernote .btn-group,
.popover-content .btn-group {
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.note-popover {
    background: #f0f0f1!important;
}

.summernote .btn,
.note-btn {
    color: #2f2929!important;
    background-color: transparent!important;
    padding: .5rem .8rem !important;
    font-size: 15px !important;
    font-weight: 600 !important;
    margin: 5px !important;
}

.summernote .dropdown-toggle:after {
    vertical-align: middle;
}

.note-icon-caret:before {
    display: none !important;
}

.note-popover .popover-content .note-color .dropdown-toggle, .panel-heading.note-toolbar .note-color .dropdown-toggle {
    width: 38px !important;
}

.note-editor.card {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 2px;
}


/* Padding of the text in textarea */

.note-editor.note-frame .note-editing-area .note-editable {
    padding-top: 1rem;
}

.btn-default.dropdown-toggle {
    background-color: transparent !important;
}

.note-editor.note-frame {
    border: 1px solid #ced4da !important;
}

.pagination .page-item.active .page-link {
    background-color: #f7921b !important;
}

.pagination .page-item.active .page-link:hover {
    background-color: #9c5b0d !important;
}


/* Responsive layout iPad min-width:768 */

@media (max-width: 768px){
    h3 {
        font-size: 1.23rem;
    }
    .btn {
        padding: .84rem 1.4rem;
        font-size: .83rem;
    }

    .qr-code-img img {
      width: 130px;
    }

}

@media (max-width: 600px){
    .md-stepper-horizontal .md-step {
      display:none;
    }

    .md-stepper-horizontal .md-step .md-step-bar-left, .md-stepper-horizontal .md-step .md-step-bar-right {
      display:none;
    }

    .md-stepper-horizontal .md-step.active {
      display: block;
    }

}
