<!DOCTYPE html>
<html>
<head>
	<link rel='stylesheet' type='text/css' href='/statics/filterer/filter.css'>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<title>Filter Page</title>

	<style>
		html{
			background-image : url('/statics/filterer/carles-rabada-gwwWhABtohs-unsplash%20(1).jpg');
			background-attachment: fixed;
			background-position: center center;
			background-size: cover;
			position: relative;

		}
	</style>

</head>
<body>
	<form action="/pdf" class='login' method='get'>
		<center>
			<h2>Filter Inmates</h2>
			<br>
			<span style='color:white;'>Start Date</span>
			<br>
			<input type='date' pattern="[0-9]{2}/[0-9]{2}/[0-9]{4}" name='dateStart' placeholder="The start date in this form : month/day/year">
			<br>
			<span style='color:white;'>End Date</span>
			<br>
            <input type='date' pattern="[0-9]{2}/[0-9]{2}/[0-9]{4}" name='dateEnd' placeholder="The end date in this form : month/day/year">
            <br>
            <span style='color:white;'>Age :</span>
            <br>
            <input type="text" name="age" placeholder="The age in this form : start - end" id='age' >
			<br>
			<span style='color:white;'>Number :</span>
			<br>
            <input type="number" name="count" placeholder="Number to be printed" id='age' >
            <br>
            <input type='radio' name='white' > <span style='color:white;'>White</span>
			<input type='radio' name='black'> <span style='color:white;'>Black</span>
			<input type='radio' name='indian'> <span style='color:white;'>Indian</span>
			<input type='radio' name='asian'> <span style='color:white;'>Asian</span>
			<br>
			<br>
            <span style='color:white;'>Facilities :</span>
            <br>
            <select name="facility">
				<option value=''>No filter</option>
				{% for fac in facilities %}
  	<option value="{{fac.code}}">{{fac.code}} : {{fac.description}}</option>
				{% endfor %}
</select>
<select name="out_c">
<option value=''>default</option>
<option value='1'>pdf</option>
<option value='2'>csv</option>
<option value='3'>both</option>
</select>
            <br>
		<button type='submit'>Get Inmates</button>
	</center>

	</form>


	<script>
		function resize(){
			var form = document.getElementsByTagName('form')[0];
			form.style.top = Math.round(window.innerHeight/2 - form.offsetHeight/2,0) + 'px'
			form.style.left = Math.round(window.innerWidth/2 - form.offsetWidth/2,0) + 'px'
		}
		window.setInterval(resize,1000);

		
		//alert('hello world')
		</script>
</body>
</html>
