<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <link rel="shortcut icon" href="/statics/img/favicon.png">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
        <!-- Bootstrap core CSS -->
    <link href="/statics/css/bootstrap.min.css" rel="stylesheet">
        <!-- Material Design Bootstrap -->
    <link href="/statics/css/mdb.min.css" rel="stylesheet">

    <link href="/statics/css/style.css" rel="stylesheet">
</head>

<body>


        <div class="col-md-5 mx-auto text-center">

                        <!-- Default form register -->
                        <form class="border border-light px-5 pt-5 pb-4" action="/verifyprot" method='post'>
                          {% csrf_token %}

                            <div class="form-group mt-3">
                                <input type="password" class="form-control" name="password" placeholder="Password">
                            </div>
                            <input class="btn btn-warning" type="submit" value="Login">
                        </form>
                    </div>

</body>
</html>
