<!DOCTYPE html>
<html>
    <head>
                <link rel='stylesheet' type='text/css' href='/statics/resources/message.css'>
            <title>View Messages For {{sender}}</title>
        <style>
		html{
			background-image : url('/statics/resources/alexander-andrews-JYGnB9gTCls-unsplash.jpg');
			background-attachment: fixed;
			background-position: center center;
			background-size: cover;
			position: relative;
			
		}
	</style>
        
        </head>

    <body>
        
        <div class='messages'>
            <center>
                <h2 id='title'>Messages</h2>
            </center>
        
        
            {% for message in messages %}
                <div class='message'>
                    <div>
                        <center>
                            <h3>Sent : <span>{{message.date_sent.year}}-{{message.date_sent.month}}-{{message.date_sent.day}} {{message.date_sent.hour}}:{{message.date_sent.minute}}:{{message.date_sent.second}}</span></h3>
                            <h3>To   : <span>{{message.to}}</span></h3>
                        </center>
                    <p>
                            {{message.body}}                    </p>
            
            </div>
            </div>
            <br>
            {% endfor %}
            
            
            
                
        
        </div>
    
        
        
        
        
        <script>
		function resize(){
			var form = document.getElementsByClassName('messages')[0];
			//form.style.top = Math.round(window.innerHeight/2 - form.offsetHeight/2,0) + 'px'
            form.style.top = '100px';
			form.style.left = Math.round(window.innerWidth/2 - form.offsetWidth/2,0) + 'px'
		}
		window.setInterval(resize,1000);
		//alert('hello world')
		</script>
    
    
    
    </body>





</html>