.modify{
    height:auto;
    padding:0px;
    margin:0px;
}
.pannel{
    margin-top:20px;
    border-right: 2px solid gray;
}
.form input, .form button ,.form p{
    margin:10px;
    
}
div{
    background-color:transparent;
}
.center-it{
    margin:0 auto;
    background-color:#2f2f2fc4;
}
.center-it div h3{
    color:white;
    font-size:25px;
    font-weight: 400;
    
}
input{
    background-color:transparent;
    border-radius:3px;
    padding:5px;
    width:80%;
    color:white;
    outline:none;
    
}/*#0f7698c4*/
input:hover{
    border-color: #0f7698c4;
}
input:hover::placeholder{
    color:#0f7698c4;
}
input:focus{
    border-color:#0f7698c4;
    
}
input:focus::placeholder{
    color:#0f7698c4;
}
.center-it div h5{
    color:darkgray;
}

.form p:first-child{
    font-size:15px;
}

button{
    width:25%;
    border-radius:4px;
    background-color:transparent;
    color:white;
    outline:none;
    padding:5px;
}
button:hover , button:focus{
    background-color:#0f7698c4;
}
p{
    color:white;
}
