
body{
	background-image: url('/statics/pannel/tina-dawson-Kim9COAIEGc-unsplash.jpg') ;
            background-attachment: fixed;
			background-position: center center;
			background-size: cover;
			position: relative;
	background-color:#2f2f2f;
}
.selector{
	margin : 100px auto;
	width:80%;
	background-color:#212121bd;
	padding:10px;
	border-radius:10px;
}

.bg-dark{
	background-color:#343a40ad !important; 
}

#facs {
	width:50%;
}

.main ul,.side ul{
	list-style: none;

}
.main{
	width:50%;
	max-height: 80vh;
	overflow-y:auto; 
	padding:10px;
}
.main::-webkit-scrollbar{
	width:5px;
	
}
.main::-webkit-scrollbar-track{
	background-color:#212121bd;
}

.main::-webkit-scrollbar-thumb{
	background-color:#216f94bd;
}
.title{
	text-align:center;
	color:#216f94bd;
}

.side{
	width:50%;
	max-height: 80vh;
	overflow-y:auto; 
	padding:10px;
}
.side::-webkit-scrollbar{
	width:5px;
	
}
.side::-webkit-scrollbar-track{
	background-color:#212121bd;
}

.side::-webkit-scrollbar-thumb{
	background-color:#216f94bd;
}
.main ul li input ,.side ul li input{
	cursor: pointer;
}
.main ul li,.side ul li{
	display:flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 2px solid white;
	
}

.main ul li:nth-child(1) input{
	opacity:1;
	border-radius:50%;
}
.side ul li:nth-child(1) input {
	opacity:0;
}
.main ul li span,.side ul li span{
	margin:10px;
}

.main ul li span:nth-child(1), .side ul li span:nth-child(1){
	font-size:1em !important;
	color:white;
	text-align: left;
	width:150px;

}

.main ul li span, .side ul li span{
	font-size:.8em;
	color:white;
	text-align:center;
	
}





.displayer{
	display:flex;
	justify-content: space-between;
	margin:20px;
}


.subtitle{
	text-align:center;
	color:white;
	margin:20px;
}


select{
	background-color:transparent;
	color:white;
	padding:15px;
	margin:20px;
	border-radius:5px;
	cursor:pointer;


}
select:focus,select:active{
	outline: none;
}

.but{
	color:darkgray;
	width:20%;
	padding:10px;
	border:none;
	border-bottom:2px solid darkgray;
	background-color:transparent;
}

.but:hover,.but:focus,
.filter input:hover,
.filter input:focus,
.filter input:hover::placeholder,
.filter input:focus::placeholder{
	outline: none;
	color:#216f94bd;
	border-color: #216f94bd;
}


.filter{
	display:flex;
	justify-content: space-between;
}
.filter input{
	width:24%;
	background: transparent;
	color:darkgray;
	border:none;
	border-bottom: 2px solid darkgray;
	margin:2px;
	cursor: text;
}
.filter input::placeholder{
	color:darkgray;
}
.subselectors{
	display:flex;
	justify-content: center;
	align-items: center;
}
.subselectors input{
	margin: 10px;
	cursor: pointer;
}
.subselectors span{
	color:white;
}