.login{
	background-color:#00000070;
	width:50%;
	/*margin:0 auto;*/
	/*margin-top: 10%;*/
	padding:15px;
	border-radius:6px;
	position:absolute;
	border:1px solid white;
	

	
}

h2{
	color:white;
}
label{
	display:none;
}

button{
	
	margin:10px;
	padding:10px 15px 10px 15px;
	background-color:transparent;
	border-radius:4px;
	color:white;
	font-size:13px;
	cursor: pointer;
	border:1px solid white;

}
button:hover{
	color:#e2c963;
	border-color:#e2c963;
}
input,label{
	width:80%;
	/*margin:10px;
	padding:15px;*/
}
input{
	border:none;
	border-bottom: 3px solid white;
	background-color: transparent;
	border-radius:4px;
	margin:15px;
    padding:15px;
	color:white;
	font-size:13px;
    height:0;
}
input:hover,input:active,input::placeholder{
	border-color:#e2c963;
}
input::placeholder{
	color:white;
	font-size:15px;
    opacity:0;
}
input:focus{
    height:auto;
    outline: 0;
    border-color:#e2c963;
    
}

input:hover::-webkit-input-placeholder {
    color: #e2c963;
}
input:focus::-webkit-input-placeholder {
    color: #e2c963;
    opacity: 1;
}


input:focus:-moz-placeholder {
    color: #e2c963;
}


input:hover::-moz-placeholder {
    color: #e2c963;
}

input:hover:-ms-input-placeholder {
    color: #e2c963;
}