body,html{
    margin:0;
    padding:0;
}
body{
    background-color: #d9d9da;
    position:relative;
}

.messages{
    background-color:white;
    width:70%;
    height:auto;
    position:absolute;
    border-radius:4px;
}
.message{
    padding:15px;
   
}
.message div{
    padding:15px;
    border:2px solid #d9d9da;
    border-radius:3px;s
}
.message div p{
    text-align: justify;
    font-weight: 500;
}

.message div h3 span{
    color:#b09883;
}
#title{
    color:#4e4e4e;
    font-family: sans-serif;
}
